# Hydra wiki
wiki/

# Haskell / Stack / Cabal
.stack-work
dist-newstyle/
stack.yaml.lock
*.cabal

# Java / Gradle
.gradle
gradle.properties
build

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Pixi
.pixi/
pixi.lock

# Conda / Rattler-build
conda-bld/
.conda/
*.conda
*.tar.bz2

# IDEs
.bsp/
.idea
*.iml
.vscode

# Python
__pycache__/
*.pyc

# Other
*.swp
output/
*.log
